body
{
    background-color:#323232;
    color:gray;
   /* font-family:'Segoe UI';*/
}
h4 
{
    text-align: right;
    font-family: 'Embed code';
}
p 
{
    text-align: justify;
    font-size: 14pt;
    font-family: 'Embed code';
}
ol
{
    list-style-type:upper-roman;
    /*list-style-type:lower-alpha;*/
}
.nesting-lvl-1
{
    list-style-type:circle;
}
.nesting-lvl-2
{
    list-style-type:"-";
   /* padding-left:10px;*/
}
figure
{
    text-align:center;
    font-style:italic;
}
a
{
color:aliceblue;
}
a:hover,a:visited:hover
{
    color:yellow;
}
a:visited
{
    color:greenyellow;
}