@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Hand+Pre:wght@400..700&family=Emblema+One&display=swap');
body
{
    font-family: RobotoCondensed;
    font-size:32px;
    background-image: linear-gradient(to right,orange,lightblue);
}
input
{
    font-size:32px;
}
